.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}


.Chat-name {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  width: 10rem;
}

.ChatMessages {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem 0;
  min-width: 30rem;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  flex-grow: 1;
  overflow: auto;
}

.Message {
  display: flex;
  margin-top: 10px;
}

.Message-Mine {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.Message-Mine > .Message-content {
  align-items: flex-end;
}

.Message-sender {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
  margin: 0 0.5rem;
}

.Message-content {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.Message-Mine > .Message-content {
  background-color: orangered;
}

.ChatInput form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.ChatInput input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  flex-grow: 1;
}

.ChatInput button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
