.Combat {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.InitiativeList {
  display: flex;
  flex-direction: column;
}

.InitiativeList-row {
  display: flex;
  align-items: center;
}

.InitiativeList-turnLabel {
  width: 36px;
  font-size: 36px;
  color: cornflowerblue;
}

.Actor {
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;


  border-radius: 0.5rem;
  border: 0.2rem solid black;

  display: flex;
  flex-direction: row;
}

.Actor.Ally {
  background: mediumblue;
  color: white;
}

.Actor.Enemy {
  background: #af0000;
  color: #e1e100;
}

.Actor.Neutral {
  background: gray;
  color: black;
}

.Actor-name {
  flex-grow: 1;
  min-width: 10em;
}

.Actor-initiative {
  text-align: right;
  width: 1.5em;
  margin-right: 0.5rem;
}

