footer {
  background: black;
  color: white;
  font-family: monospace;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: inherit;
}

footer img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

footer > div {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}
.blink{
  animation:blinking 0.6s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes blinking{
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
