Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #902222;

  border: solid black;
  border-width: 0.2rem 0.5rem;
}

Header a {
  text-decoration: none;
}

.Header-title {
  /*font-family: 'Cormorant SC', serif;  !* < Previous font, for comparison. *!*/
  font-family: 'Montserrat Subrayada', serif;
  font-size: 2em;
  margin: 0.1rem 1rem;
  color: #d8d116;
}

.Navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.Navbar * {
  height: 100%;
  padding: 0.2rem 1rem;
  text-align: center;

  font-family: 'Marcellus SC', serif;
  font-size: 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Navbar-button {
  cursor: pointer;
  color: #c3fbff;

  /*background-color: blue;*/

}

.Navbar-button:hover {
  background-color: #111;
}

.Navbar-reconnecting {
  color: white;
}

